pandas>=2.0.0
streamlit>=1.31.0
requests>=2.31.0
openpyxl>=3.1.0
google-auth>=2.23.0
google-auth-oauthlib>=1.1.0
google-auth-httplib2>=0.1.1
python-dotenv>=1.0.0
extra-streamlit-components>=0.1.60
toml>=0.10.0
sqlalchemy>=2.0.0
psycopg2-binary>=2.9.0
google-play-scraper>=1.2.4

